body {
    background-color: #29252B;
}

.converter {
    width: 450px;
    height: 320px;
    margin: auto;
    margin-top: 30px;
    background-color: #191B1F;
    color: white;
    border-radius: 25px;
    padding: 10px;
}

.first_currency {
    background-color: #222327;
    margin-top: 10px;    
    width: 95%;
    height: 80px;
    border-radius: 20px;
    border-style: none;
    color:white;
    font-size: 18px;
    padding: 10px;
}

input {
    background-color: #222327;
    color:white;
    border-style: none;
    margin-top: 5px;
    font-size: 30px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text {
    color:grey;
    font-size: 10px;
    margin-top: 25px;
}

.second_currency {
    background-color: #222327;
    margin-top: 10px;    
    width: 95%;
    height: 80px;
    border-radius: 20px;
    border-style: none;
    color:white;
    font-size: 18px;
    padding: 10px;
}

.info {
    margin-top: 10px;
    color:rgba(248, 249, 250, 0.767);
}

button {
    font-size: 17px;
    color: #6389ca;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding: 12px;
    border-radius: 20px;
    background-color: #1b2435;
    border-style: none;
    cursor: pointer;
}