* {
    font-family: Poppins;
    font-weight: 400;
}
div.myimg {
    position: absolute;
    right: 680px;
    text-align: center;
    padding-top: 25px;
}
.oneform {
    position: absolute;
    right: 675px;
    bottom: 400px;
}
.second {
    height: 10px;
    text-align: center;
    font-size: 17px;
    color: #575962;
}
button {
    border-radius: 26px;
    margin-top: 2px;
    width: 120px;
    height: 30px;
    position: absolute;
    right: 85px;
    background-color: #154AB1;
    color: aliceblue;
    margin-top: 10px;
} 
input {
    border: none;
    color: #575962;
}
p {
    font-size: 17px;
}
