

@media screen and (min-width: 1201px) {
    body {
        grid-template-columns: 150px 1fr 150px;
    }

    header {
        grid-column: 1 / 4;
    }

    footer {
        grid-column: 1 / 4;
    }

    nav {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    main {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    aside {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }

    div {
        grid-column: 3 / 4;
        grid-row: 2 / 4;
    }

}
