.conteiner {
    display: flex;
}
.sale {
    border-radius: 16px;
    height: 188px;
    width: 100%;
    margin: 15px;  
}
.cake-sale {
    display: flex;
    background-color: #F3F4FF;
    justify-content: space-evenly;
}
.burgers-sale {
    background-color: #FFF3ED;
    display: flex;
    justify-content: space-evenly;
}
.mini-blocks {
    display: flex;
}
.mini-blocks .blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    margin: 15px;
    border-radius: 16px;
    background-color: #F3F4FF;
}
h1 {
    font-family: 'Nunito';
    font-size: 40px;
    color: #4E60FF;
}
h4 {
    font-family: 'Nunito';
    font-size: 20px;
    color: #2B2B43;;
}
h6 {
    font-family: 'Nunito';
    size: 14px;
    color: #83859C;
}
.burgers-text h1 {
    font-family: 'Nunito';
    font-size: 40px;
    color: #FD6D22;
}
.mini-blocks .blocks:nth-child(even) {
    background-color:#F3F4FF;;
    border: 2px solid #4E60FF;
    box-sizing: border-box;
}

