#clients {
  margin: 20px 0px;

  .caps {
    @include h3_caps;
    margin: 30px 0px;
    text-align: center;
  }

  .clients {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .client {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .client_one {
    background: $client_one;
  }

  .client_two {
    background: $client_two;
  }

  .client_three {
    background: $client_three;
  }

  .client_four {
    background: $client_four;
  }

  .client_five {
    background: $client_five;
  }

  .client_six {
    background: $client_six;
  }

  .client_seven {
    background: $client_seven;
  }

  .client_eight {
    background: $client_eight;
  }

  .client_nine {
    background: $client_nine;
  }

  .client_ten {
    background: $client_ten;
  }

  .client_eleven {
    background: $client_eleven;
  }

  .client_twelve {
    background: $client_twelve;
  }
}
