@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

@import 'variables';
@import 'mixins';
@import 'index';
@import 'fonts';
@import 'clints';
@import 'team';
@import 'media768';
@import 'media1024';
@import 'media1440';
