$dark: #323264;
$darkalt: #46466e;
$soft: #686887;
$pink: #f0145a;
$regular: #24a3ff;
$hover: #0085ff;
$active: #006ccf;
$silver: #f5f5fa;
$greyalt: #ededf7;
$text: #b3b3ba;
$separator: #e6e6f0;
$title: #4b28de;
$balck: #000000;
$white: white;
$darkviolet: linear-gradient(
  128.63deg,
  #323264 0%,
  #323264 73.96%,
  #a54b5f 100%
);
$softviolet: linear-gradient(
  42.01deg,
  #323264 14.33%,
  #323264 51.39%,
  #7a425e 87.53%
);
$red: linear-gradient(121.42deg, #f0145a 30.65%, #693264 107.33%);
$supersoft: linear-gradient(
  228.57deg,
  #323264 11.93%,
  #323264 57.17%,
  #643e72 87.46%
);
$redtext: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);

//clients - background

$client_one: #1c4280;
$client_two: #143646;
$client_three: #f48b30;
$client_four: #9e4dc3;
$client_five: #dcf3f9;
$client_six: #c71c36;
$client_seven: #fd9339;
$client_eight: #eaeaea;
$client_nine: #000000;
$client_ten: #1d4568;
$client_eleven: #282240;
$client_twelve: #e2e2e4;
