$dark: #323264;
$darkalt: #46466e;
$soft: #686887;
$pink: #f0145a;
$regular: #24a3ff;
$hover: #0085ff;
$active: #006ccf;
$silver: #f5f5fa;
$greyalt: #ededf7;
$text: #b3b3ba;
$separator: #e6e6f0;
$gdark: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #a54b5f 100%);
$gsoft: linear-gradient(
  42.01deg,
  #323264 14.33%,
  #323264 51.39%,
  #7a425e 87.53%
);
$gred: linear-gradient(121.42deg, #f0145a 30.65%, #693264 107.33%);
$gsupersoft: linear-gradient(
  228.57deg,
  #323264 11.93%,
  #323264 57.17%,
  #643e72 87.46%
);
$gredtext: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
$textp: #4b28de;

//clients - background

$client1: #1c4280;
$client2: #143646;
$client3: #f48b30;
$client4: #9e4dc3;
$client5: #dcf3f9;
$client6: #c71c36;
$client7: #fd9339;
$client8: #eaeaea;
$client9: #000000;
$client10: #1d4568;
$client11: #282240;
$client12: #e2e2e4;
