@media screen and (max-width: 600px) {
    .offers {
        flex-wrap: wrap;
        margin: 10px;
    }

    .discount {
        flex-direction: column-reverse;
        height: 400px;
    }

    .off-text {
        margin-left: 15px;
    }

    .choice-dishes {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 30px;
    }

    .off-pic-burg {
        height: 224px;
        width: 229px;
    }

    .dishes {
        width: calc(100% / 3 - 30px);
        margin: 6px;
    }

}
