@media only screen and (max-width : 450px) {
    .first-container {
        display: flex;
        flex-flow: column;
    }

    .promo{
        flex-direction: column-reverse;
        width: 99px;
        height: 28px;
    }

    .promo-deserty {
        padding: 24px 15px 0px 24px !important;
        height: 300px;
        width: 300px;
    }

    .promo-fooddies {
        padding: 24px 15px 0px 24px !important;
        height: 300px;
        width: 300px;
    }

    .txt{display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .txt-all-deserts{
        order: 1;
    }
    .txt-promo-deserty{
        order: 3;
    }
    .txt-deserty{
        order: 2;
        margin-top: 24px;
    }

    .txt-big-burgers{
        order: 1;
    }
    .txt-promo-fooddies{
        order: 3;
    }
    .txt-fooddies{
        order: 2;
        margin-top: 24px;
    }

    .second-container {
        display: flex;
        flex-flow: row wrap;
    }

    .unit {
        margin-left: 7.5px;
        margin-right: 7.5px;
    }
    
    .unit-mobile{
        margin-bottom: 15px;
    }
}