body{
    font-family: 'Nunito';
}

.container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.first-container{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 32px;
}

.second-container{
    display: flex;
}

.promo {
    border-radius: 16px;
    height: 188px;
    width: 540px;
    margin-left: 15px; 
    margin-right: 15px; 
    margin-top: 24px;
}

.unit{
    position: relative;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    padding: 12px;
    background: #FFFFFF;
    border: 1px solid #EDEEF2;
    box-sizing: border-box;
    border-radius: 16px;
    height: 80px;
    width: 160px;
    cursor: url(./icons/Pointinghand.png), pointer;
}

.unit:hover{
    background: #F8F9FF;
    border: 1px solid #697BFF;
    box-sizing: border-box;
    border-radius: 16px;
}

.unit:active{
    background: #F3F4FF;
    border: 2px solid #4E60FF;
    box-sizing: border-box;
    border-radius: 16px;    
}

.unit-mobile{
    display: flex;
}

.promo-deserty{
    display: flex;
    background-color: #F3F4FF;
}

.promo-fooddies{
    display: flex;
    background-color: #FFF3ED;
}

.txt{
    display: flex;
    flex-direction: column;
}

.txt-all-deserts{
    position: relative;
    margin-top: 24px;
    color: #2B2B43;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}

.txt-promo-deserty {
    color: #4E60FF;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 56px;
}

.txt-deserty{
    color:#83859C;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}

.txt-big-burgers{
    position: relative;
    margin-top: 24px;
    color: #2B2B43  ;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}

.txt-promo-fooddies{
    color: #FD6D22;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 56px;
}

.txt-fooddies{
    color: #83859C;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}
