.cases {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "title-cases"
    "hillel-cases"
    "wannabiz-cases"
    "tapgerine-cases"
    "threedlook-cases"
    "adtelligent-cases"
    "clikky-cases";
}

.title-cases {
  grid-area: title;
  color: var(--accent);
  padding-top: 20px;
  border-radius: 12px 0px 0px 0px;
}

.hillel-cases {
  grid-area: hillel-cases;
}

.wannabiz-cases {
  grid-area: wannabiz-cases;
}

.tapgerine-cases {
  grid-area: tapgerine-cases;
}

.threedlook-cases {
  grid-area: threedlook-cases;
}

.adtelligent-cases {
  grid-area: adtelligent-cases;
}

.clikky-cases {
  grid-area: clikky-cases;
  border-radius: 0px 0px 12px 12px;
}

.cases-item {
  background-color: var(--grey-bg);
  padding-bottom: 20px;
  border: 2px solid #fff;
}

.cases p {
  padding-left: 20px;
  color: var(--main-soft);
  padding-bottom: 10px;
}

.cases a {
  padding-left: 20px;
  color: var(--grey-text);
}

.cases h3 {
  padding-left: 20px;
}