.container-footer {
    size: 100%;
}

.arrowleft-footer {
    float: left;

    color: green;
}

.countnumbers-footer {
    display: inline;
}

.arrowright-footer {
    float: right;

    color: green;
}

footer {
    position: relative;
    text-align: center;
    height: 50vw;
}

li {
    list-style-type: none;
    display: inline;
    text-align: center;
}

ul {
    margin-bottom: 0%;
    margin-left: 0;
    padding-left: 0;
}

.text {
    position: relative;
    right: 12%;
}


body {
    background-color: gray;
}


.pagination {
    display: inline-block;
}

.pagination li {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: rgb(255, 0, 0);
}
