.grid-test {
    display: grid;
    width: 95%;
    grid-template-rows: repeat(2, 50px) 250px repeat(3, 50px);
    gap: 7px;
}

.grid-test div {
    padding: 5px;
    border: 3px solid blue;
    border-radius: 5px;
}


@media only screen and (min-width: 501px) {

    .grid-test {
        grid-template-columns: 10% 1fr;
    }

    .item-1 {
        grid-area: header;
    }

    .item-2 {
        grid-area: navigation;
    }

    .item-3 {
        grid-area: main;
    }

    .item-4 {
        grid-area: sidebar;
    }

    .item-5 {
        grid-area: ads;
    }

    .item-6 {
        grid-area: footer;
    }

    .grid-test {
        grid-template-areas:
            "header header header"
            "navigation navigation navigation"
            "sidebar main main"
            "sidebar main main"
            "sidebar main main"
            "ads footer footer"
    }

}

@media screen and (min-width: 1201px) {

    .grid-test {
        grid-template-columns: 12% 1fr 12%;
    }

    .grid-test {
        grid-template-areas:
            "header header header"
            "sidebar navigation ads"
            "sidebar main ads"
            "sidebar main ads"
            "sidebar main ads"
            "footer footer footer"
    }
}