@media screen and (max-width: 599px) {
    .container {
        flex-wrap: wrap;
        margin: 10px;
    }
    .sale {
        flex-direction: column-reverse;
        height: 100%;
        padding-left: 20px;
    }
    .mini-blocks {
        flex-wrap: wrap;
    }
    .mini-blocks .blocks {
        width: calc(100% / 3 - 30px);
    }
}
@media screen and (min-width: 600px) {
    .sale {
        height: 100%;
    }
}