body{
    background-color: var(--grey-bg);
}
.container{
    display: flex;
    background-color: white;
    border-radius: 12px;
    margin: 10px;    
}
.txt-team-mob{
    margin: 20px;
}

.swiper-pagination-bullet{
    background-color: var(--active-regular);
}

.swiper-pagination-bullet-active{
    background-color: var(--active-active);
}

.swiper-pagination {display: flex;
    justify-content: center;
    align-items: center;
}
