html{
    padding: 25px;
}

body{
    font-family: Consolas;
}
.header1 {
    color: gray;
}

div {
    width: 300px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 10px;
}

div:nth-child(even) {
    width: calc(100% - 350px)
}

.div-info{
    width: 400px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}

.div-info:nth-child(even) {
    width: calc(100% - 450px)
}

li {
    list-style: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}
.ukraine:hover {
    color: yellow;
}
