#default-example {
    overflow: auto;
    width: 269px;
    height: 270px;
    background: #111;
    color: white;
}


#example-element-container {
    position: relative;
    text-align: left;
}


.box {
    background-color: rgba(0,0,255,.2);
    border: 3px solid #00f;
    float: left;
    width: 65px;
    height: 65px;
}


#example-element-one {
    background-color: #ff0;
    border: 3px solid red;
    z-index: 1;
    top: 20px;
    position: sticky;
    margin-left: 10px;
    margin-right: 10px;
}

#example-element-two {
    background-color: #ff0;
    border: 3px solid red;
    z-index: 1;
    position: static;
    margin-left: 10px;
    margin-right: 10px;
}

#example-element-three {
    background-color: #ff0;
    border: 3px solid red;
    z-index: 1;
    top: 40px;
    left: 40px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

#example-element-four {
    background-color: #ff0;
    border: 3px solid red;
    z-index: 1;
    top: -40px;
    left: 20px;
    position: relative;
    margin-left: -30px;
    margin-right: -30px;
}

p {
    width: 100%;
    clear: both;
}

.relative {
    position: relative;
}

.container-hero {
    border: 1px solid black;
    background: red;
    width: 600px;
    height: 375px;
}

.container-block {
    width: 225px;
    height: 225px;
}

.yellow {
    background: yellow;
    z-index: 1;
}

.blue{
    background: blue;
    color: #FFFFFF;
    z-index: 2;
    position: absolute;
    top: 30px;
    left: 30px;
}

.green{
    background: green;
    color: #FFFFFF;
    z-index: 4;
    position: absolute;
    top: 60px;
    left: 60px;
    text-align: center;
}

.darkmagenta {
    background: darkmagenta;
    color: #FFFFFF;
    z-index: 5;
    position: absolute;
    top: 100px;
    left: 105px;
    text-align: center;
}

.orange {
    background: orange;
    z-index: 3;
    text-align: center;
    position: absolute;
    top: 15px;
    left: 105px;
}
