body {
    width: auto;
    max-width: 900px;
    margin: 0 auto;
    font-family: initial;
}
.container {
    display: block;
    padding: 10px;
    width: 900px;
    height: 100px;
    position: relative;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(152, 152, 152);
}
.arrow1 {
    width: 40px;
    float: left;
    margin-left: 60px;
    margin-top: 10px;   
}
.arrow2 {
    width: 40px;
    float: right;
    margin-right: 60px;
    margin-top: 10px;
}
.iii {
    display: inline;
    padding: 5px;
}
a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.page {
    position: absolute;
    left: 37%;
    top: 30%;
}
.text {
    float: left;
    clear: both;
}
span {
    margin: 10px;
}
a:focus {
    color: rgb(49, 57, 8);
    background-color: rgb(206, 218, 218);
    border-bottom: 3px solid rgb(173, 23, 23);
    border-radius: 2px;
}