html {background-color: #212429;
}
:root{
    color: #212429;
    --bs-body-bg:#212429;
}
h1 {
    background-color: #212429;
    color: blueviolet;
}
header {background-color: #212429;
}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px 16px 0px;
    align-items: center;
}
td{
    color: white;
}

table {
    margin: auto; /* Выравниваем таблицу по центру окна  */
    border-radius: 30px;
    padding: 8px;
    width: 75%;
    position: relative;
   }
   td {
    text-align: left; /* Выравниваем текст по центру ячейки */
    padding: 1rem 1.25rem 0.5rem;
    
   }
.table1 {background-color: rgb(25 27 31) !important;
}
.table2 {
    background-color: rgb(33 36 41);
    margin-bottom: 14px;
}
.footertable {
    text-align: center;
}
button{
    background-color: rgba(21, 61, 111, 0.44);
    color: rgb(80, 144, 234);
    margin: auto;
    border-radius: 30px;
    padding: 16px;
    width: 100%;
    margin-top: auto;
    cursor: pointer;
}