@media screen and (max-width: 599px) {
    .container {
        flex-wrap: wrap;
        margin: 10px;
    }
    .salecake {
        flex-direction: column-reverse;
        height: 100%;
        width: 100%;

    }
    .saleburger{
        flex-direction: column-reverse;
        height: 100%;
        width: 100%;
    }
    .dishes {
        flex-wrap: wrap;
    }
    .box {
        width: calc(100% / 3 - 50px);
    }
}
