@media screen and (max-width: 599px) {
    .container {
        flex-wrap: wrap;
        margin: 10px;
    }
    .mini-block {
        flex-wrap: wrap;
    }
    .mini-block .block {
        width: calc(100% / 3 - 30px);
    }
    .burger-sale {
        flex-direction: column-reverse;
        height: 100%;
        padding-left: 20px;
    }
    .icecream-sale {
        flex-direction: column-reverse;
        height: 100%;
        padding-left: 20px;
    }
    p {
        position: relative;
        bottom: 145px;
        left: 300px;
    }
}
@media screen and (min-width: 600px) {
    .burger-sale {
        height: 100%;
    }
    .icecream-sale {
        height: 100%;
    }
}