.icecream-sale {
    display: flex;
    height: 188px;
    width: 540px;
    background-color: #F3F4FF;
    border-radius: 16px;
    margin: 15px;
    }
.burger-sale {
    display: flex;
    height: 188px;
    width: 540px;
    background-color: #FFF3ED;
    border-radius: 16px;
    margin: 15px;
   }
.container {
    display: flex;
    justify-content: center;
}
h2 {
    color: #4E60FF;
    font-size: 40px;
    font-family: Nunito;
}
h4 {
    color: #2B2B43;
    font-size: 20px;
    font-family: Nunito;
}
p {
    color: #83859C;
    font-family: Nunito;
    font-size: 14px;
}
.mini-block .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    height: 80px;
    margin: 15px;
    border-radius: 16px;
    background-color: #F3F4FF;
    justify-content: center;
}
.mini-block {
    display: flex;
    justify-content: center;
}