#conteiner {
  width: 50%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  left: 20%;
}

#Button_Previous {
  background-color: rgb(141, 211, 144);
  float: left;
  width: 50px;
  height: 50px;
}

#Button_Next {
  background-color: rgb(141, 211, 144);
  float: right;
  width: 50px;
  height: 50px;
}

#Numbers {
  width: 400px;
  height: 50px;
}

.pagination li {
  display: inline;
  list-style-type: none;
  font-size: 18px;
  padding: 7px;
}

a.page {
  text-decoration: none;
}
a.page:hover,
a.page:focus {
  background-color: rgb(221, 221, 221);
  color: rgb(73, 72, 72);
  text-decoration: underline;
}

a.page:active {
  color: crimson;
}
a.Previous::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
}

a.Previous::before {
  background-image: url(https://cdn-icons-png.flaticon.com/128/4317/4317909.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 100%;
}

a.Next::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
}

a.Next::before {
  background-image: url(https://cdn-icons-png.flaticon.com/128/4317/4317914.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
  text-align: center;
}

p {
  padding: 10px;
  line-height: 130%;
  margin: 0px;
}
