.logo{
    width: 5px;
    height: auto;
    padding-left: 25px;
}

.h1{
    font-size: 8pt;
    padding-left: 25px;
}

.text{
    font-size: 12pt;
    padding-left: 25px;
}

.communication{
    font-size: 12pt;
    padding-left: 25px;
}

.communication p, a{
    text-decoration: none;
}

.information{
    font-size: 12pt;
    padding-left: 25px;
}

.education__info {
    font-size: 12pt;
    padding-left: 25px;
}

.work__experience{
    font-size: 12pt;
    padding-left: 25px;
}