#default-example {
    display: inline-block;
    overflow: auto;
    width: 269px;
    height: 270px;
    background: #111;
    color: white;
  }


  #example-element-container {
      position: relative;
      text-align: left;
  }


  .box {
    background-color: rgba(0,0,255,.2);
    border: 3px solid #00f;
    float: left;
    width: 65px;
    height: 65px;
  }


  p {
    width: 100%;
    clear: both;
  }


 #example-element-one {
      background-color: #ff0;
      border: 3px solid red;
      z-index: 1;
      position: sticky;
      top: 0;
  }


  #example-element-two {
    background-color: #ff0;
    border: 3px solid red;
    z-index: 1;
    position: static;
  }

  #example-element-three {
    background-color: #ff0;
    border: 3px solid red;
    z-index: 1;
    position: relative;
    top: 40px;
    left: 30px;
  }

  #example-element-four {
    background-color: #ff0;
    border: 3px solid red;
    z-index: 1;
    position: absolute;
    top: 20px;
    left: 50px;
  }

  #extra-hw {
      width: 700px;
      height: 450px;
      background-color: red;
      position: relative;
      z-index: -4;

  }

  #yellow {
    width: 200px;
    height: 200px;
    background-color: yellow;
    z-index: -3;
    position: absolute;
    top: 0;
    left: 0;
  }

  #blue {
    width: 200px;
    height: 200px;
    background-color: blue;
    z-index: -2;
    top: 40px;
    left: 40px;
    position: absolute;

  }

  #orange {
    width: 200px;
    height: 200px;
    z-index: -1;
    background-color: orange;
    float: right;
    margin-right: 370px;
    margin-top: 20px;


  }

  #green {
    width: 200px;
    height: 200px;
    z-index: 0;
    background-color: green;
    display: block;
    position: absolute;
    left: 80px;
    top: 80px;
  }

  form {
    z-index: 2;
    position: absolute;
    top: 43px;
    left: 120px;
  }

  input {
      width: 60px;
  }

  #purple {
    width: 200px;
    height: 200px;
    z-index: 3;
    background-color: purple;
    position: absolute;
    left: 120px;
    top: 120px;
  }