// Colors
$main: #323264;
$alt: #46466E;
$soft: #686887;
$accent: #F0145A;
$link-regular: #24A3FF;
$hover: #0085FF;
$active: #006CCF;
$bg: #F5F5FA;
$bg-alt: #EDEDF7;
$bg-text: #B3B3BA;
$separator: #E6E6F0;
$regular: black;
$titles: #4B28DE;


