@media screen and (min-width: 350px) and (max-width: 599px) {
  body {
    flex-wrap: wrap;
    margin: 10px;
  }

  #login {
    width: 100%;
    height: 100vh;
    left: -15%;
  }

  .proposithion {
    display: none;
  }

  .home {
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: 0px;
  }

  .find {
    display: none;
  }

  .main {
    width: 100%;
  }

  .menu {
    width: 220px;
  }

  .main .number {
    left: -30px;
  }

  .main div {
    margin: 0px 5px;
  }

  .main .restaurants,
  .main .deals,
  .fa-magnifying-glass,
  .my_orders {
    display: none;
  }

  .divider {
    left: 72%;
  }

  .burger {
    display: flex;
  }

  .sales {
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
    padding: 0;
  }

  .sales1,
  .sales2 {
    height: 440px;
    display: flex;
    flex-direction: column-reverse;
  }

  .sales1 div,
  .sales2 div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-between;
  }

  .text2,
  .text5 {
    font-size: 30px;
  }

  .sales1 {
    margin: 0px;
    margin-bottom: 15px;
  }

  .sales2 {
    margin: 0px;
    margin-bottom: 15px;
  }

  .categories {
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 80%;
  }

  .block {
    flex-wrap: wrap;
    flex-direction: column;
    height: 100px;
    width: 100%;
  }

  .restorans {
    top: 95%;
    width: 100%;
  }

  .restorans div img {
    position: relative;
    top: -30%;
  }

  .restorans div {
    display: flex;
    margin-bottom: 15px;
    width: 100%;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  body {
    flex-wrap: wrap;
    margin: 10px;
  }

  #login {
    width: 100%;
    height: 100vh;
    left: -5%;
  }

  .proposithion {
    display: none;
  }

  .home {
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: 0px;
  }

  .find {
    display: none;
  }

  .main {
    width: 100%;
  }

  .main .number {
    left: -5%;
  }

  .main div {
    margin: 0px 5px;
  }

  .sales {
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
    padding: 0;
  }

  .text2,
  .text5 {
    font-size: 40px;
  }

  .sales1 {
    margin: 0px;
    margin-bottom: 15px;
  }

  .sales2 {
    margin: 0px;
    margin-bottom: 15px;
  }

  .categories {
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 27%;
  }

  .block {
    flex-wrap: wrap;
    flex-direction: column;
    height: 100px;
    width: 100%;
  }

  .restorans {
    top: 40%;
    width: 100%;
  }

  .restorans div {
    display: flex;
    margin-bottom: 15px;
    width: 49%;
    height: 45%;
  }

  .restorans div img {
    position: relative;
    top: -27%;
  }

  .restorans div h2 {
    top: 58%;
    left: 7%;
    font-size: 20px;
  }

  .fa-clock {
    top: 78%;
    left: 7%;
  }

  .restorans div h4 {
    top: 77%;
    left: 14%;
  }

  .restorans div span {
    top: 77%;
    left: 35%;
  }

  .restorans div div {
    top: 88%;
    width: 27%;
  }

  .restorans div .mini_catalog2 {
    left: 130px;
  }
}

@media screen and (min-width: 769px) and (max-width: 959px) {
  body {
    flex-wrap: wrap;
    margin: 10px;
  }

  #login {
    width: 100%;
    height: 100vh;
    left: 5%;
  }

  .proposithion {
    display: none;
  }

  .home {
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: 0px;
  }

  .main {
    width: 100%;
  }

  .find {
    display: none;
  }

  .main .number {
    left: -5%;
  }

  .main div {
    margin: 0px 5px;
  }

  .sales {
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
    padding: 0;
  }

  .text2,
  .text5 {
    font-size: 25px;
  }

  .text1,
  .text4 {
    font-size: 20px;
  }

  .sales1 {
    margin: 0px;
    margin-bottom: 15px;
    width: 49%;
    height: 70%;
  }

  .sales2 {
    margin: 0px;
    margin-left: 2%;
    margin-bottom: 15px;
    width: 48%;
    height: 70%;
  }

  .categories {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    top: 1%;
  }

  .block {
    flex-wrap: wrap;
    margin-bottom: 15px;
    width: 50%;
    justify-content: space-around;
  }

  .Pizza,
  .Burger,
  .BBQ,
  .Sushi,
  .Vegan,
  .Desserts {
    width: 120px;
  }

  .restorans {
    display: flex;
    top: 3%;
    width: 50%;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
  }

  .restorans .block1 {
    display: none;
  }

  .restorans .position1,
  .restorans .position2,
  .restorans .position3,
  .restorans .position4,
  .restorans .position5,
  .restorans .position6 {
    width: 63%;
    margin: 5px;
  }

  .restorans div img {
    position: relative;
    top: -30%;
  }

  .restorans div h2 {
    top: 45%;
    left: 7%;
    font-size: 20px;
  }

  .fa-clock {
    top: 68%;
    left: 7%;
  }

  .fa-cart-shopping {
    top: 52%;
    left: 88%;
  }

  .restorans div h4 {
    top: 67.2%;
    left: 15%;
  }

  .restorans div span {
    top: 75%;
    left: 3%;
  }

  .restorans div div {
    top: 88%;
    width: 30%;
  }

  .restorans div .mini_catalog1 {
    left: 10px;
  }

  .restorans div .mini_catalog2 {
    left: 110px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1250px) {
  body {
    flex-wrap: wrap;
    margin: 10px;
  }

  #login {
    width: 100%;
    height: 100vh;
    left: 5%;
  }

  .proposithion {
    display: none;
  }

  .home {
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: 0px;
  }

  .find {
    right: 5%;
  }

  .main {
    width: 100%;
  }

  .main .number {
    left: -5%;
  }

  .main div {
    margin: 0px 5px;
  }

  .divider {
    display: none;
  }

  .sales {
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
    padding: 0;
  }

  .text2,
  .text5 {
    font-size: 42px;
  }

  .text1,
  .text4 {
    font-size: 24px;
  }

  .sales1 {
    margin: 0px;
    margin-bottom: 15px;
    width: 49%;
    height: 70%;
  }

  .sales2 {
    margin: 0px;
    margin-left: 2%;
    margin-bottom: 15px;
    width: 48%;
    height: 70%;
  }

  .categories {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    top: 1%;
  }

  .block {
    flex-wrap: wrap;
    margin-bottom: 15px;
    width: 50%;
    justify-content: space-around;
  }

  .Pizza,
  .Burger,
  .BBQ,
  .Sushi,
  .Vegan,
  .Desserts {
    width: 150px;
  }

  .restorans {
    display: flex;
    top: 3%;
    width: 50%;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
  }

  .restorans .block1 {
    display: none;
  }

  .restorans .position1,
  .restorans .position2,
  .restorans .position3,
  .restorans .position4,
  .restorans .position5,
  .restorans .position6 {
    width: 63%;
    margin: 5px;
  }

  .restorans div img {
    position: relative;
    top: -30%;
  }

  .restorans div h2 {
    top: 45%;
    left: 7%;
    font-size: 20px;
  }

  .fa-clock {
    top: 68%;
    left: 7%;
  }

  .fa-cart-shopping {
    top: 52%;
    left: 88%;
  }

  .restorans div h4 {
    top: 67.2%;
    left: 15%;
  }

  .restorans div span {
    top: 75%;
    left: 3%;
  }

  .restorans div div {
    top: 88%;
    width: 30%;
  }

  .restorans div .mini_catalog1 {
    left: 10px;
  }

  .restorans div .mini_catalog2 {
    left: 130px;
  }
}

@media screen and (min-width: 1251px) and (max-width: 1400px) {
  body {
    flex-wrap: wrap;
    margin: 10px;
  }

  #login {
    width: 100%;
    height: 100vh;
    left: 5%;
  }

  .home {
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: 0px;
  }

  .main {
    width: 100%;
  }

  .main .number {
    left: -4%;
  }

  .main div {
    margin: 0px 5px;
  }

  .divider {
    display: none;
  }

  .sales {
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
    padding: 0;
  }

  .text2,
  .text5 {
    font-size: 36px;
  }

  .text1,
  .text4 {
    font-size: 24px;
  }

  .sales1 {
    margin: 0px;
    margin-bottom: 15px;
    width: 49%;
    height: 70%;
  }

  .sales2 {
    margin: 0px;
    margin-left: 2%;
    margin-bottom: 15px;
    width: 48%;
    height: 70%;
  }

  .categories {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    top: 1%;
  }

  .block {
    flex-wrap: wrap;
    margin-bottom: 15px;
    width: 50%;
    justify-content: space-around;
  }

  .Pizza,
  .Burger,
  .BBQ,
  .Sushi,
  .Vegan,
  .Desserts {
    width: 190px;
  }

  .restorans {
    display: flex;
    top: 3%;
    width: 51%;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
  }

  .restorans .block1 {
    display: none;
  }

  .restorans .position1,
  .restorans .position2,
  .restorans .position3,
  .restorans .position4,
  .restorans .position5,
  .restorans .position6 {
    width: 63%;
    margin: 5px;
  }

  .restorans div img {
    position: relative;
    top: -30%;
  }

  .restorans div h2 {
    top: 58%;
    left: 7%;
    font-size: 20px;
  }

  .fa-clock {
    top: 76%;
    left: 7%;
  }

  .fa-cart-shopping {
    top: 66%;
    left: 88%;
  }

  .restorans div h4 {
    top: 75.2%;
    left: 15%;
  }

  .restorans div span {
    top: 75.2%;
    left: 32%;
  }

  .restorans div div {
    top: 88%;
    width: 30%;
  }

  .restorans div .mini_catalog1 {
    left: 10px;
  }

  .restorans div .mini_catalog2 {
    left: 100px;
  }

  .restorans div div {
    width: 72px;
  }
}
