@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Poppins:wght@500;600&family=Roboto:wght@300;400;500;700&display=swap');

body {
  background-color: #ffffff;
  font-family: 'Nunito', sans-serif;
  margin: 0px;
  padding: 0px;
  display: flex;
}

/*Login*/
#login {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  height: 100vh;
}

.header h2 {
  display: flex;
  font-size: 20px;
  margin: 0px;
  padding-top: 20px;
  position: absolute;
  left: 30%;
}

.header h3 {
  font-size: 20px;
  color: #4e60ff;
  margin: 0px;
  position: absolute;
  left: 30%;
  top: 5%;
}

.header h2:hover {
  color: #4e60ff;
  text-shadow: 0px 0px 3px #0418c9;
}

.header h3:hover {
  color: #4e60ff;
  text-shadow: 0px 0px 3px #0418c9;
}

.login {
  display: flex;
  flex-direction: column;
}

h1 {
  display: flex;
  margin: 0;
  color: #2b2b43;
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
  letter-spacing: 0.1px;
  color: #2b2b43;
  position: absolute;
  left: 30%;
  top: 20%;
}

h4 {
  display: flex;
  width: 350px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #545563;
  position: absolute;
  left: 30%;
  top: 30%;
}

.info {
  position: absolute;
  left: 30%;
  top: 37%;
}

label {
  font-size: 12px;
  margin: 5px;
}

.email {
  display: flex;
  height: 44px;
  width: 350px;
  border: 1px solid #c7c8d2;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 7px 15px;
  color: #83859c;
  margin-bottom: 5%;
}

.pass {
  display: flex;
  height: 44px;
  width: 350px;
  border: 1px solid #c7c8d2;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 7px 15px;
  color: #83859c;
}

.remember {
  display: inline;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  border: 2px solid #c7c8d2;
  box-sizing: border-box;
  margin-top: 20px;
}

.info h5 {
  display: inline;
  margin: 0;
  width: 250px;
  font-size: 12px;
  position: absolute;
  left: 10%;
  top: 89%;
}

.but {
  display: block;
  height: 40px;
  width: 340px;
  position: absolute;
  left: 1%;
  top: 0%;
}

.login button {
  height: 44px;
  width: 350px;
  padding: 12px, 16px, 12px, 16px;
  background: #4e60ff;
  box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
  border-radius: 8px;
  color: #ffffff;
  position: absolute;
  left: 30%;
  top: 60%;
}

.login button:hover {
  border: 2px solid blue;
  box-shadow: 0px 0px 20px blue;
}

.forgot {
  display: flex;
  color: #4e60ff;
  margin-top: 15px;
  text-decoration: none;
  text-align: center;
  position: absolute;
  left: 42%;
  top: 67%;
}

.footer {
  display: inline;
  margin: 15px;
  position: absolute;
  left: 35%;
  top: 77%;
}

.sing_up {
  color: #4e60ff;
  margin-left: 7px;
}

/*log proposithion*/

.proposithion {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  height: 100vh;
  background: #697bff;
}

/*message*/

.message {
  display: flex;
  height: 436.41143798828125px;
  width: 313px;
  left: 10%;
  top: 8%;
  position: relative;
  background: #ffffff;
  border: 0.894286px solid #edeef2;
  box-sizing: border-box;
  border-radius: 14.3086px;
}

.message h3 {
  font-weight: 700;
  font-size: 11.6257px;
  line-height: 16px;
  color: #2b2b43;
  position: absolute;
  width: 284.38px;
  height: 16.1px;
  left: 14px;
  top: 2px;
}

.reiting {
  height: 25.04px;
  width: 25.93px;
  border-radius: 0px;
  font-weight: 600;
  font-size: 17.88px;
  line-height: 25px;
  letter-spacing: 0.0894286px;
  color: #4e60ff;
  position: relative;
  left: 14px;
  top: 30px;
}

.stars {
  width: 66px;
  height: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  position: absolute;
  left: 18%;
  top: 8%;
  border-radius: 0.53px;
}

.stars i {
  width: 10px;
  height: 10px;
  font-size: 10px;
  color: #4e60ff;
  margin: 0px 2px;
}

.time {
  height: 13px;
  width: 40px;
  font-size: 10px;
  line-height: 14px;
  color: #83859c;
  display: flex;
  position: absolute;
  left: 43%;
  top: 8%;
}

.message button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: absolute;
  width: 107px;
  height: 39px;
  right: 14px;
  top: 16px;
  border: 1px solid #4e60ff;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 14px;
  color: #4e60ff;
}

.divider {
  position: absolute;
  height: 0px;
  left: 0px;
  right: 0px;
  top: 16%;
  border: 0.894286px solid #edeef2;
}

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  position: absolute;
  height: 32px;
  left: 25%;
  top: 18%;
  background: #ffffff;
  border: 1px solid #c7c8d2;
  box-sizing: border-box;
  border-radius: 8px;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  color: #83859c;
}

.avatarw {
  height: 25.04px;
  width: 25.93px;
  border-radius: 0px;
  position: relative;
  left: -45%;
  top: 28%;
}

.coment1 h3 {
  font-weight: 700;
  font-size: 11.6257px;
  line-height: 16px;
  color: #2b2b43;
  position: absolute;
  width: 284.38px;
  height: 16.1px;
  left: 17%;
  top: 25%;
}

.stars1 {
  width: 66px;
  height: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  position: absolute;
  left: 17%;
  top: 32%;
  border-radius: 0.53px;
}

.stars1 i {
  width: 10px;
  height: 10px;
  font-size: 10px;
  color: #4e60ff;
  margin: 0px 2px;
}

.time1 {
  height: 13px;
  width: 60px;
  font-size: 10px;
  line-height: 14px;
  color: #83859c;
  display: flex;
  position: absolute;
  left: 42%;
  top: 32.5%;
}

.mes1 {
  display: flex;
  position: absolute;
  width: 241.46px;
  left: calc(55% - 241.46px / 2);
  top: 38%;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #2b2b43;
}

.like1 i {
  position: absolute;
  left: 17%;
  top: 52%;
}

.like1 h3 {
  font-weight: 700;
  font-size: 12px;
  color: #2b2b43;
  position: absolute;
  left: 23%;
  top: 49.5%;
}

.dislike1 i {
  position: absolute;
  left: 30%;
  top: 52.5%;
}

.dislike1 h3 {
  font-weight: 700;
  font-size: 12px;
  color: #2b2b43;
  position: absolute;
  left: 37%;
  top: 49.5%;
}

.divider1 {
  position: absolute;
  height: 0px;
  left: 0px;
  right: 0px;
  top: 60%;
  border: 0.894286px solid #edeef2;
}

.avatarm {
  height: 25.04px;
  width: 25.93px;
  border-radius: 0px;
  position: relative;
  left: -145%;
  top: 63%;
}

.coment2 h3 {
  font-weight: 700;
  font-size: 11.6257px;
  line-height: 16px;
  color: #2b2b43;
  position: absolute;
  width: 284.38px;
  height: 16.1px;
  left: 17%;
  top: 60%;
}

.stars2 {
  width: 66px;
  height: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  position: absolute;
  left: 17%;
  top: 67%;
  border-radius: 0.53px;
}

.stars2 i {
  width: 10px;
  height: 10px;
  font-size: 10px;
  color: #4e60ff;
  margin: 0px 2px;
}

.time2 {
  height: 13px;
  width: 60px;
  font-size: 10px;
  line-height: 14px;
  color: #83859c;
  display: flex;
  position: absolute;
  left: 42%;
  top: 67.5%;
}

.mes2 {
  display: flex;
  position: absolute;
  width: 241.46px;
  left: calc(55% - 241.46px / 2);
  top: 73%;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #2b2b43;
}

.like2 i {
  position: absolute;
  left: 17%;
  top: 88%;
}

.like2 h3 {
  font-weight: 700;
  font-size: 12px;
  color: #2b2b43;
  position: absolute;
  left: 23%;
  top: 85.5%;
}

.dislike2 i {
  position: absolute;
  left: 30%;
  top: 88.5%;
}

.dislike2 h3 {
  font-weight: 700;
  font-size: 12px;
  color: #2b2b43;
  position: absolute;
  left: 37%;
  top: 85.5%;
}

/*roll_set*/

.roll_set {
  display: flex;
  height: 279px;
  width: 294px;
  left: 47%;
  top: 12%;
  background: #ffffff;
  border: 0.84px solid #edeef2;
  box-sizing: border-box;
  border-radius: 13.44px;
  position: absolute;
}

.roll_set img {
  height: 151px;
  width: 267px;
  border-radius: 10px;
  position: absolute;
  left: 4.5%;
  top: 4.5%;
}

.roll_set h2 {
  position: absolute;
  height: 21px;
  left: 4.5%;
  top: 57%;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #2b2b43;
}

.roll_set h3 {
  width: 250;
  position: absolute;
  left: 4.5%;
  top: 68%;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #83859c;
}

.roll_set h1 {
  position: absolute;
  height: 27px;
  left: 4.5%;
  top: 85%;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #2b2b43;
}

/*nigiri_set*/

.nigiri_set {
  display: flex;
  flex-direction: column;
  height: 132px;
  width: 618px;
  left: 10%;
  top: 46%;
  background: #ffffff;
  border: 0.846575px solid #edeef2;
  box-sizing: border-box;
  border-radius: 13.5452px;
  position: absolute;
}

.nigiri_set img {
  display: flex;
  position: absolute;
  height: 105px;
  width: 152px;
  left: 3%;
  top: 10%;
  border-radius: 20px;
}

.nigiri_set h2 {
  display: flex;
  position: absolute;
  height: 21px;
  left: 30%;
  top: 5%;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #2b2b43;
}

.nigiri_set h3 {
  display: flex;
  position: absolute;
  left: 30%;
  right: 22%;
  top: 27%;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #83859c;
}

.nigiri_set h1 {
  display: flex;
  position: absolute;
  height: 28px;
  left: 182.86px;
  top: 65%;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #2b2b43;
}

.nigiri_set .minus {
  height: 17px;
  width: 17px;
  position: absolute;
  left: 80%;
  top: 35%;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  border: 1.26986px solid #c7c8d2;
}

.nigiri_set h4 {
  height: 17px;
  width: 17px;
  position: absolute;
  left: 86%;
  top: 35%;
  border-radius: 25px;
}

.nigiri_set .plus {
  height: 17px;
  width: 17px;
  position: absolute;
  left: 90%;
  top: 35%;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  border: 1.26986px solid #c7c8d2;
}

.nigiri_set input {
  position: absolute;
  width: 112px;
  height: 37px;
  left: 77%;
  top: 53%;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  background: #f3f4ff;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.3px;
  color: #4e60ff;
}

/*reviews*/

.reviews h1 {
  left: 30%;
  top: 70%;
  font-size: 34px;
  line-height: 42px;
  display: flex;
  letter-spacing: 0.1px;
  color: #ffffff;
  position: absolute;
}

.reviews h4 {
  width: 480px;
  left: 26%;
  top: 75%;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  text-align: center;
  letter-spacing: 0.1px;
  color: #ffffff;
  position: absolute;
}

.page ul li {
  display: inline-block;
  height: 8px;
  width: 8px;
  left: 45%;
  top: 820px;
  border-radius: 0px;
  left: 46%;
  background: #ffffff;
  position: relative;
  border-radius: 25px;
}

.page ul li:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px blue;
}

/* menu*/
/*main*/

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 0% 10%;
}

.main {
  display: flex;
  height: 80px;
  width: 100%;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.com {
  display: flex;
  flex-direction: column;
  height: 40px;
}

.main h2 {
  font-size: 20px;
  margin: 0px;
  width: 75px;
}

.main h3 {
  font-size: 20px;
  color: #4e60ff;
  margin: 0px;
  width: 75px;
}

.main h2:hover {
  color: #4e60ff;
  text-shadow: 0px 0px 3px #0418c9;
}

.main h3:hover {
  color: #4e60ff;
  text-shadow: 0px 0px 3px #0418c9;
}

.main input {
  display: flex;
  height: 40px;
  width: 224px;
  background: #edeef2;
  border-radius: 12px;
  padding-left: 10px;
  border: none;
}

.fa-magnifying-glass {
  position: relative;
  left: -15%;
  top: 12px;
  font-size: 19px;
}

.main div {
  display: flex;
  margin: 0px 15px;
  height: 40px;
}

span {
  margin: 15px;
}

.divider {
  display: flex;
  width: 0px;
  height: 40px;
  left: 81%;
  border-right: 1px solid #edeef2;
}

.fa-basket-shopping {
  display: flex;
  height: 40px;
  width: 40px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  background: #f3f4ff;
  border-radius: 16px;
}

.number {
  display: flex;
  height: 18px;
  width: 18px;
  left: -6%;
  top: -18px;
  background: #4e60ff;
  border-radius: 25px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  position: relative;
}

.avatar {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 25px;
  overflow: hidden;
}

.home .divider2 {
  height: 0px;
  width: 124%;
  top: 9%;
  border-radius: 0px;
  position: absolute;
  left: -12%;
  border: 1px solid #edeef2;
}

/*sales*/

.sales {
  display: flex;
  width: 100%;
  height: 195px;
  position: relative;
  left: 0%;
  top: 4%;
}

.sales1 {
  display: flex;
  justify-content: space-evenly;
  height: 188px;
  width: 750px;
  border-radius: 16px;
  background: #f3f4ff;
  margin-right: 10px;
}

.sales1 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sales1 span {
  margin: 7px;
}

.text1,
.text4 {
  height: 28px;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #2b2b43;
}

.text2,
.text5 {
  height: 56px;
  font-weight: 700;
  font-size: 50px;
  line-height: 56px;
  letter-spacing: 0.1px;
  color: #4e60ff;
}

.text3,
.text6 {
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #83859c;
}

.sales2 {
  display: flex;
  justify-content: space-evenly;
  height: 188px;
  width: 750px;
  border-radius: 16px;
  background: #fff3ed;
  margin-left: 10px;
}

.sales2 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sales2 span {
  margin: 7px;
}

.sales1:hover,
.sales2:hover {
  cursor: pointer;
  border: 2px solid silver;
  box-shadow: 0px 0px 20px silver;
}

/*categories*/

.categories {
  display: flex;
  justify-content: space-between;
  height: 105px;
  width: 100%;
  top: 7%;
  position: relative;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  width: 750px;
}

.Pizza,
.Burger,
.BBQ,
.Sushi,
.Vegan,
.Desserts {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  width: 220px;
  box-sizing: border-box;
  border-radius: 16px;
}

.categories img {
  height: 28px;
  width: 28px;
}

.categories span {
  height: 18px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #545563;
}

.Pizza {
  background: #f8f9ff;
  border: 1px solid #697bff;
}

.fa-hand-point-up {
  position: relative;
  width: 14.31px;
  height: 15.27px;
  left: 17%;
  top: 40%;
}

.Burger {
  background: #f3f4ff;
  border: 2px solid #4e60ff;
}

.BBQ {
  background: #ffffff;
  border: 1px solid #edeef2;
}

.Sushi {
  background: #f3f4ff;
  border: 2px solid #4e60ff;
}

.Vegan {
  background: #ffffff;
  border: 1px solid #edeef2;
}

.Desserts {
  background: #ffffff;
  border: 1px solid #edeef2;
}

.Pizza:hover,
.Burger:hover,
.BBQ:hover,
.Sushi:hover,
.Vegan:hover,
.Desserts:hover {
  cursor: pointer;
  border: 1px solid #697bff;
  box-shadow: 0px 0px 10px silver;
}

/*restorans*/

.restorans {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  height: 600px;
  width: 100%;
  top: 11%;
  position: relative;
}

.restorans .block1 {
  display: flex;
  height: 30px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  border: none;
}

h3 {
  display: flex;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #2b2b43;
  margin: 0%;
}

.restorans div {
  display: flex;
  height: 276px;
  width: 450px;
  border: 1px solid #edeef2;
  border-radius: 16px;
  box-sizing: border-box;
  background: #ffffff;
  overflow: hidden;
  position: relative;
}

.restorans div img {
  display: flex;
  width: 100%;
  position: relative;
  top: -70px;
}

.fa-cart-shopping {
  display: flex;
  position: absolute;
  left: 90%;
  top: 69%;
}

.fa-clock {
  display: flex;
  position: absolute;
  left: 5px;
  top: 77%;
}

.restorans div h2 {
  height: 24px;
  width: 286px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #2b2b43;
  position: absolute;
  top: 60%;
  left: 2%;
}

.restorans div h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #2b2b43;
  position: absolute;
  top: 76%;
  left: 6%;
}

.restorans div span {
  left: 30%;
  top: 76%;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #2b2b43;
  position: absolute;
  top: 70.5%;
  left: 20%;
}

.restorans div div {
  display: flex;
  background: #edeef2;
  height: 24px;
  width: 75px;
  top: 86%;
  padding: 4px, 10px, 4px, 10px;
  position: absolute;
}

.restorans div .mini_catalog1 {
  left: 7%;
}

.restorans div .mini_catalog2 {
  left: 27%;
}

.restorans div div img {
  position: relative;
  top: 20%;
  left: 9%;
  height: 14px;
  width: 14px;
}

.restorans div div h4 {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #545563;
  display: flex;
  position: relative;
  top: 20%;
  left: 20%;
}

.position1:hover,
.position2:hover,
.position3:hover,
.position4:hover,
.position5:hover,
.position6:hover {
  cursor: pointer;
  border: 2px solid silver;
  box-shadow: 0px 0px 20px silver;
}
