li {
    list-style-type: none;
    display: inline;
    text-align: center;
}

li:active {
    color: rgb(10, 10, 10);
    text-decoration: underline;
}
  
.arrow1 {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.arrow2 {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -38px;
    margin-left: 20px;
}

.numbers {
    text-align: center;
}

svg {
    overflow: hidden;

    fill: rgb(77, 223, 77);
}

#txt1 {
    margin-left: 25%; 
}

#txt2 {
    margin-left: 25%;
}

.nav {
    margin-left: 30%;
    margin-right: 30%;
}

.active:focus {
    border-bottom: 3px solid black;
}