@media screen and (max-width:767px) {
    .logo_min {
        width: 110px;
    }

    .logo h2 {
        font-weight: 400;
        font-size: 28px;
        line-height: 27px;
        color: var(--main-regular);
        margin: 0px;
    }

    .slash {
        width: 19px;
        height: 31px;
    }

    .vector {
        width: 20x;
        height: 33px;
    }

    .header-adress {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -115%;
        top: 70px;
        gap: 0px;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 16px 0.3s;
    }

    .nav-item {
        margin: 5.5px 0;
    }

    .nav-menu.active {
        left: 0;
        padding: 0;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3 ease-in-out;
        background-color: var(--main-regular);
    }

    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        background-color: white;
    }

    .nav-item {
        width: 90%;
        border-radius: 12px;
        background-color: var(--grey-bg);
    }


}

@media screen and (min-width: 768px) {
    #header {
        margin: 40px;
    }

    #header .logo {
        height: 62px;
    }

    #header .logo h2 {
        font-size: 38px;
        line-height: 45px;
    }

    #header .menu {
        margin: 0px 0px 16px 8px;
        justify-content: flex-start;
    }

    li {
        display: inline;
    }

    .header-menu {
        width: 80%;
    }

    .cases {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2px 2px;
        grid-template-areas:
            "cases-top"
            "cases-bottom";
        border-radius: 12px;
    }

    .cases-top {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 2px 2px;
        grid-template-areas:
            "title-hillel wannabiz-cases tapgerine-cases";
        grid-area: cases-top;
    }

    .title-hillel {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr;
        gap: 2px 2px;
        grid-template-areas:
            "title-cases title-cases title-cases"
            "hillel-cases hillel-cases hillel-cases"
            "hillel-cases hillel-cases hillel-cases";
        grid-area: title-hillel;
    }

    .title-cases {
        grid-area: title-cases;
    }

    .hillel-cases {
        grid-area: hillel-cases;
    }

    .wannabiz-cases {
        grid-area: wannabiz-cases;
    }

    .tapgerine-cases {
        grid-area: tapgerine-cases;
    }

    .cases-bottom {
        display: grid;
        grid-template-columns: 0.7fr 1.1fr 1.2fr;
        grid-template-rows: 0.5fr;
        gap: 2px 2px;
        grid-template-areas:
            "threedlook-cases adtelligent-cases clikky-cases";
        grid-area: cases-bottom;
    }

    .threedlook-cases {
        grid-area: threedlook-cases;
    }

    .adtelligent-cases {
        grid-area: adtelligent-cases;
    }

    .clikky-cases {
        grid-area: clikky-cases;
    }

    .clients {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .area {
        height: 110px;
    }

}