:root {
    --main-regular: #323264;
    --main-alt: #46466E;
    --main-soft: #686887;
    --accent: #F0145A;
    --active-regular: #24A3FF;
    --active-hover: #0085FF;
    --active-active: #006CCF;
    --grey-bg: #F5F5FA;
    --grey-bg-alt: #EDEDF7;
    --grey-text: #B3B3BA;
    --grey-separator: #E6E6F0;
    --gradient-regular: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
    --gradient-soft: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
    --gradient-red: linear-gradient(121.42deg, #F0145A 30.65%, #693264 107.33%);
    --gradient-supersoft: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    --gradient-red-text: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"),
         url("/fonts/roboto.woff2") format("woff2"),
         url("/fonts/roboto.woff") format("woff");
}

h1 {
    background: var(--gradient-red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;  
}

h2 {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}

h3 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.caps {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-align: left;
}

h4 {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

p {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}

ul {
    border-radius: nullpx;
    color: var(--accent);
    line-height: 34px;
}

ol {
    border-radius: nullpx;
    color: var(--accent);
    line-height: 34px;
}

ol span {
    color: #000;
}

li span {
    color: #000;
}

a {
    color: var(--active-regular);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
}

a:hover {
    color: var(--accent);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

body {
    margin: 20px;
    font-family: "Roboto", sans-serif;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    /* width: 100%; */
}

.lang {
    color: var(--grey-text);
    text-decoration: none;
    font-size: 12px;
}

.lang:hover {
    background-color: var(--accent);
    color: white;
    border-radius: 5px;
    font-size: 12px;
}

.header-adress {
    color: var(--grey-text);
}

.phone {
    color: var(--grey-text);
    text-decoration: none;
}

.logo-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
}

.logo h2 {
    font-weight: 400;
    font-size: 38px;
    line-height: 45px;
    color: var(--main-regular);
    margin: 0px;
}

.slash {
    height: 70%;
}

.vector {
   height: 80%;
}

.header-list {
    list-style: none;
    display: flex;
}

li {
    margin-left: 20px;
    list-style: none;
}

.header-link {
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

.header-link:active {
    text-decoration: underline;
    color: var(--accent);
}

.header-link:hover {
    text-decoration: underline;
    color: var(--accent);
    letter-spacing: 2px;
}




.tools {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.arrow {
    margin-left: 20px;
}


.contacts {
    background-color: var(--grey-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr {
    color: var(--grey-separator);
    margin-left: 20px;
    margin-right: 20px;
    size: 4px;
}

.adress {
    color: var(--main-regular);
    margin-bottom: 10px;
    margin-top: 20px;
}

.contacts .caps {
    margin-bottom: 20px;
}

.contacts .fb {
    margin-bottom: 20px;
}

.contacts .phone {
    margin-bottom: 20px;
    color: var(--main-alt)
}

.copyright {
    color: var(--grey-text);
}