#default-example {
    overflow: auto;
    width: 269px;
    height: 270px;
    background: #111;
    color: white;
}
  
#example-element-container {
      position: relative;
      text-align: left;
  }
  
  
  .box {
    background-color: rgba(0,0,255,.2);
    border: 3px solid #00f;
    float: left;
    width: 65px;
    height: 65px;
  }
  
  
  #example-element {
      background-color: #ff0;
      border: 3px solid red;
      z-index: 1;
      position: relative;
      top: 20px;
      left: 15px;
  }
  
  
  p {
    width: 100%;
    clear: both;
  }