img {
    width: 130px;
    height: 130px;
}
span {
    display: inline-block;
    width: 70%;
    position: absolute;
    margin-left: 30px;
}
span.img {
    width: 150px;
    height: 150px;
    margin-top: 0;
    position: relative;
}
header {
    width: 100%;
    height: 210px;
    color: gray;
}
a {
    text-decoration: none;
}
h1 {
    color: rgb(120, 94, 233);
}
h5 {
    color: black;
}
.text,input[type="checkbox"] {
    display: none;
    color: black;
    text-align: center;
    border: 1px solid rgb(120, 94, 233);
    border-radius: 4px;
    background-color: rgb(94, 218, 56);
  }
  
  
  input[type="checkbox"]:checked ~ .text {
    display: block;
  }

.btn {
    width: 130px;
    display: inline-block;
    margin-bottom: 4px;
    padding: 4px 8px;
    color: rgb(120, 94, 233);;
    border: 1px solid rgb(120, 94, 233);
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}