* {
    font-family: sans-serif;
}
body {
    background-color: #29252B;
}
.container {
    margin-top: 50px;
}
.form {
    background-color: #191B1F;
    border-radius: 20px;
    padding: 10px;
    max-width: 500px;
    margin: auto;
}
.fa-right {
    position: relative;
    float: right;
    color: #ffff;
}
.fa-info {
    color: #ffff;
    padding: 5px;
}
.input-holder {
    background-color: #222429;
    border-radius: 20px;
    margin-bottom: 5px;
}
select {
    position: relative;
    float: right;
    margin: 5px;
}
input {
    font-size: 30px;
    padding: 15px 10px;
    color: #ffff;
    background-color: inherit;
    border-style: none;
    border-radius: 20px;
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
button {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding: 15px;
    border-radius: 20px;
    font-size: 15px;
    background-color: #1C2940;
    border-style: none;
    cursor: pointer;
    color: #5F8FE3;
}
.rate {
    font-size: 15px;
    color: darkgrey;
    padding: 10px;
}
.top {
    color: #ffff;
    padding: 10px;
}
.info {
    color: #ffff;
    font-size: 15px;
    padding: 10px;
}
.list {
    font-size: 20px;
    background-color: #48494E;
    border-style: none;
    cursor: pointer;
    color: #ffff;
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    outline: none;
}
.info-list {
    width: 94%;
    border-radius: 20px;
    color: #ffff;
    background-color: #191B1F;
    border-style: none;
    outline: none;
    cursor: pointer;
}
.arrow-down {
    position: relative;
}
.fa.fa-arrow-down {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    color: #ffff;
}


